*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    /* background-color: rgb(214, 135, 135); */
    background-image: url('https://images.unsplash.com/photo-1524230659092-07f99a75c013?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    /* object-fit: cover; */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content:center;
    align-items: center;
}
button{
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;;
    background:rgb(128, 128, 128);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    margin-right: 30px; 
}
button:hover{
  background-color:rgb(92, 73, 73) ;
}
button:active{
    scale: 1.1;
}